<style type="text/css">
.ghContributors{
display:flex;
flex-flow:  wrap;
align-content: flex-start;
align-items: top;
justify-content: left;
}

.ghContributors > div{
width: 100% ;
display: inline-flex;
margin-bottom: 0px;
vertical-align: text-top;
}
.ghContributors > div label{
font-size: .6em;
padding-left: 4px ;
}
.ghContributors > div span{
font-size: x-small;
padding-left: 4px ;
}

</style>

<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ range getJSON $url }}
    <div style="display:block; width:120px;">
    <img src="{{.avatar_url}}" class="inline" width="100" height="100" style="height: 100px;height: 100px; vertical-align:middle; margin: 0 auto; ">
    <label><a href="{{.html_url}}" style="word-wrap: break-word; max-width: 95px;">@{{.login}}</a></label><br/>
    <span class="contributions">{{.contributions}} commits</span>
  </div>
  {{ end }}
</div>
